@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}
body{
    background: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%); 
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}